In [2]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("survey_results_public.csv")
data.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [4]:
#choose the attributes we want/ cols we want to be trained
data = data[["Country", "EdLevel", "YearsCodePro", "Employment", "ConvertedComp"]]
data.head()

,Country,EdLevel,YearsCodePro,Employment,ConvertedComp
0,Germany,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",27,"Independent contractor, freelancer, or self-em...",NaN
1,United Kingdom,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",4,Employed full-time,NaN
2,Russian Federation,NaN,NaN,NaN,NaN
3,Albania,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",4,NaN,NaN
4,United States,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",8,Employed full-time,NaN

In [5]:
#drop all the rows that contain null values
data = data.dropna()
data.head()

,Country,EdLevel,YearsCodePro,Employment,ConvertedComp
7,United States,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",13,Employed full-time,116000.0
9,United Kingdom,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",4,Employed full-time,32315.0
10,United Kingdom,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",2,Employed full-time,40070.0
11,Spain,Some college/university study without earning ...,7,Employed full-time,14268.0
12,Netherlands,"Secondary school (e.g. American high school, G...",20,Employed full-time,38916.0

In [7]:
#we want only employed full time data and not any others
data = data[data["Employment"] == "Employed full-time"]
data.head()

,Country,EdLevel,YearsCodePro,Employment,ConvertedComp
7,United States,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",13,Employed full-time,116000.0
9,United Kingdom,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",4,Employed full-time,32315.0
10,United Kingdom,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",2,Employed full-time,40070.0
11,Spain,Some college/university study without earning ...,7,Employed full-time,14268.0
12,Netherlands,"Secondary school (e.g. American high school, G...",20,Employed full-time,38916.0

In [9]:
data['Country'].value_counts()

Country
United States     7569
India             2425
United Kingdom    2287
Germany           1903
Canada            1178
                  ...
Benin                1
Fiji                 1
San Marino           1
Guinea               1
Andorra              1
Name: count, Length: 154, dtype: int64

In [11]:
#we have multiple '1' countries.we want to get rid of all smaller data countries and name them as Other
def clean_countries(countryCount, threshold):
    categorical_map = {}
    for i in range(len(categories)):
        if categories.values[i] >= cutoff:
            categorical_map[categories.index[i]] = categories.index[i]
        else:
            categorical_map[categories.index[i]] = 'Other'
    return categorical_map
    
    # Create a copy of the original series to avoid modifying it directly
    # countryCount_cleaned = countryCount.copy()
    # # Replace values below the threshold with 'Other Countries'
    # countryCount_cleaned[countryCount_cleaned < threshold] = 'Other Countries'
    
    # # Convert the modified series back to a dictionary
    # countrydict = countryCount_cleaned.to_dict()
    
    # return countrydict

In [19]:
country_map = clean_countries(data.Country.value_counts(), 400)
data['Country'] = data['Country'].map(country_map)
data.Country.value_counts()

Country
8549    8549
7569    7569
2425    2425
2287    2287
1903    1903
1178    1178
991      991
972      972
670      670
659      659
654      654
566      566
560      560
522      522
514      514
Name: count, dtype: int64